body {
  background-color: lightgreen;
}

input {
  margin-right: 10px;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

p {
  color: brown;
}

#map {
  height: 60vh;
}
